
.slotwrapper {
    /* margin-top: 20px; */
    overflow: hidden;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    height: 70px;
    color: white;
    margin-left: 10px;
    background-color:white;
    color: blue;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}
.slotwrapper ul {

    width: 65px;
    height:30px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}
.slotwrapper ul li img {
    vertical-align: top;
}
@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}

/* Example 10 override slotwrapper */
#example10 {
    width: 30px;
    height: 50px;
    color: white;
}
#example10 ul {
    width: 30px;
    height:50px;
    font-size: 10px;
    line-height: 150px;

}
@media screen and (max-width: 1200px) {
    #example10 ul {
        width: 18%;
    }
}
@media screen and (max-width: 768px) {
    #example10 {
        height: 100px;
    }
    #example10 ul {
        height:100px;
        font-size: 50px;
        line-height: 100px;
    }
}
